@using DZzzz.Learning.Core.Routing.Advanced.Model
@model Result
@{ Layout = null;}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Advanced routing</title>
    <link rel="stylesheet" asp-href-include="lib/semantic-ui/*.min.css" />
</head>
<body>
    <div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Controller</th>
                    <th>Action</th>
                    <th>Keys</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Controller">@Model.Controller</td>
                    <td data-label="Action">@Model.Action</td>
                    <td data-label="Keys">
                        <div class="ui divided selection list">
                            @foreach (string key in Model.Data.Keys)
                            {
                                <a class="item">
                                    <div class="ui red horizontal label">@key</div>
                                    @Model.Data[key]
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <a asp-action="CustomVariable">This is outgoing URL (Same controller)</a><br />
        <a asp-controller="Admin" asp-action="Index">This is outgoing URL (Admin controller)</a><br />
        <a asp-controller="Admin" asp-action="Index" asp-route-id="Hello">This is outgoing URL (Admin controller) with extra parameter</a><br /> @*asp-route-[segment name]*@
        <a asp-controller="Admin" asp-action="Index" asp-route-id="Hello" asp-protocol="https"
           asp-host="myserver.mydomain.com" asp-fragment="myFragment">This is Fully qualified URL</a><br />
        <a asp-route="out">Specific Route (based on route name)</a><br />

        @*Generate URL (not links based on tags )*@
        <p> URL: @Url.Action("CustomVariable", "Home")</p><br />

        <a asp-route-legacyUrl="/old/.NET_1.0_Class_Library">Outgoing custom route</a>
    </div>
</body>
</html>